html,
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  display: flex;
  width: 100%;
  justify-content: center;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

#root {}

#todoList {
  display: flex;
  flex-direction: column-reverse;
  padding: 0;
}

input {
  margin-left: 0.1em;
  margin-right: 0.1em;
}